#slideshow-image{
	position: relative;
}

.greenButton{
	
}

#slideshow-title{
	background-color: rgba(4, 167, 0, 0.61);
	margin-top: 0px;
    margin-bottom: 0px;
	padding: 5px;
	font-family: 'Lobster', cursive;
	font-size: 30px;
}

#slideshow-image-p{
	margin-top: 0px;
    margin-bottom: -4px;
}

#slideshow-caption{
	background-color: rgba(4, 167, 0, 0.61);
	margin-top: 0px;
    margin-bottom: 0px;
	padding: 5px;
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

.slideButton-button{
	width:  50px;
	height: 50px;
}
.button-image{
	width:  15px;
	height: 15px;
}

#slideButton-p{
	margin-top: 0px;
    margin-bottom: 0px;
	background-color: rgba(5, 208, 0, 0.61);
	padding-top: 5px;
	padding-bottom: 5px;
}

body{
	background-color: rgba(0, 0, 0, 0.33);
	margin: 0px;
}