        <link rel="stylesheet" href="css/layout03.css">
        <table width="100%" border="0" id="main-table" class="center">
            <tr>
                <td class="table-container">
                    <div id="nav-div">
                        <img id="nav-top-image" src=""></img>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" id="banner" class="center table-container">
                    <div id="banner-div">
                        <img id="banner-image" src="">
                        <div></div>
                        <h1 id="banner-text">title</h1>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-container">
                    <div id="contents-div">
                        
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" id="footer">
                </td>
            </tr>
        </table>
